
.cart_fluid{
    
    margin:50px;

    h2{
        font-size: 23px;
        text-transform: uppercase;
        color: #3e9578;
        margin: 70px 0 30px;
    }

    .cart_product{
        display: flex;
        margin: 35px 0;

        .cart_product_img{
            max-width: 170px;
    
            img{
                width:100%;
            }
        }

        .product_info{
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3{
                color: #3e9578;
                text-transform: uppercase;
                font-size: 18px;
            }

            span{
                letter-spacing: 2px;
                color: #3e9578;

            }

            input{
                border: 1px solid #3e9578;
                padding: 5px;
                width: 30%;
                color: #3e9578;
                outline: none;
            }

            button{
                padding: 2px 10px;
                color: #3e9578;
                background-color: white;
                border: 1px solid #3e9578;
                letter-spacing: 2px;
                outline: none;
                cursor: pointer;
            }

        }
    }

    .pay_container{

        margin: 35px 0;
        padding: 30px;
        border: 1px solid #3e9578;

        .pay_title{

            span{
                color:#3e9578;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }

        .payment{
            display: flex;
            align-items: center;
            margin:15px 0;

            input{
                width: 20px;
                height: 20px;
                margin-right: 30px;

                
            }

            img{
                width: 50px;
                margin-right:15px
            }
        }


        .item_info{
        

            .total_item{
                color:#3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;
                
    
                span{
                    padding: 5px 0;
                }
            }

            .total_price{
                color:#3e9578;
                letter-spacing: 2px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
                border-top: 1px solid #3e9578;
                margin-top: 20px;
                padding-top: 15px;
               
            }
        }

        .checkout_button{
            text-align: center;
            margin-top: 40px;

            button{

                width: 80%;
                background-color: white;
                color: #3e9578;
                border: 1px solid #3e9578;
                letter-spacing: 4px;
                padding: 15px;
                font-weight: bold;
                text-transform: uppercase;
                outline: none;
                cursor: pointer;
            }
        }

    }

}


        
    
    



    
