


.home_category_container {

	    height: calc(100vh - 210px);

	    .row {
	    	height: inherit;

	    	.col-12 {
	    		height: 50%;

	    		.category_box {
	    			    height: 100%;
						perspective: 200px;
						

						
						

	    			    &:hover .category_tittle a{
	    						color: #f5c745;
	    						
	    					}

	    				.category_img {
	    					height:calc(100% - 12px);
							transition: all .4s;
							position: relative;


							.background_img{
								position: absolute;
								top: 0;
								
							}
						

	    					&:hover{

	    						animation: rotateAnime 1s linear backwards;
	    					}
							
														
	    					a {
	    						height: inherit;
							    display: flex;
							    align-items: center;

	    						img {
								height: 90%;
								
	    						}
	    					}
	    				}
	    		}
	    	}
	    }
}


@keyframes rotateAnime {

	0%{

		transform: rotate(0);	
	}

	40%{
		transform: rotate(-4deg);
	}


	70%{

		transform: rotate(4deg);
	}

	100%{

		transform: rotate(0);	
	}
}

.category_box {
	
	display: flex;
	flex-direction: column;
	align-items: center;


	 .category_img {

	 	 a {
	 	 	display: block;
	 	 	 img {
				
	 	 	 
	 	 	 }
	 	 }
	 }
}

.category_tittle {

	a {
		display: block;
		color: #3e9578;
		transition: all .4s;
		text-transform: capitalize;
		
	}
}