

  @media only screen and (min-width: 992px){
    .hamburger {
        display: none;
    }
 }


 @media only screen and (max-width: 992px){
   header .header_navigation {

    padding: 10px 15px 10px 30px;
	}

	
	header .header_navigation {
		flex-direction: column-reverse;
		align-items: flex-end;
		    justify-content: flex-end;
	}
	.dropdown_menu {

    width: 100%;
    justify-content: space-between;
}

header .header_navigation li {
	text-align: center;
}

 }

 