.my_account{
    margin:100px auto;
    max-width: 300px;   

    h1{
        text-align: center;
        color: #3e9578;
        font-size: 23px;
        margin-bottom: 40px;
        text-transform: uppercase;
    }

    input[type=text]{
        width: 100%;
        border: 1px solid #3e9578;
        margin: 20px auto;
        padding: 8px;
    }

    button{
        width: 100%;
        padding: 6px;
        background-color: #3e9578;
        color: white;
        outline: none;
        margin-bottom: 15px;
    }

    span{
        color: #3e9578;
    }


}